body {
  font-family: Georgia;
  color: white;
  background-color: black;
}

header.head-nav {
  background-color: #E67E22;
  border: 2px dotted black;
}

header {
  background-color: #F1C40F;
}

h1, h2, h3 {
  font-family: cursive;
  text-transform: capitalize;
}
